* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #769FB6;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 10px;

}

.details {
  background-color: rgba(226, 219, 190, 0.61);
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
}

.pet {
  background-color: rgba(226, 219, 190, 0.548);
  width: 90%;
  min-height: 150px;
  display: block;
  overflow: hidden;
  margin: 15px auto;
  border: 2px solid grey;
  padding: 3px;
}

.pet img {
  display: flex;
  width: 100px;
  min-height: 100px;

}

.info {
  float: left;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-container {
  clip-path: circle(60% at 50% 50%);
  width: 100px;
  height: 100px;
  float: left;
  margin: 20px;
}

.pet h1 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 30px;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.pet h2 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

header a {
  color: #dcdd99;
  font-size: 50px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.search-icon {
  font-size: 25px;
}

header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 20px;
}

.details p {
  line-height: 2;
}

.details h1,
.details h2 {
  text-align: center;
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  border: 2px dashed #a1969c;
  border-radius: 4px;
  padding-left: 30px;
}

.carousel > img {
  max-height: 75%;
  width: auto;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

.carousel-smaller {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
}

.carousel-smaller > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #333;
}

.carousel-smaller > img.active {
  border-color: rgb(24, 144, 168);
  opacity: 0.6;
}

.search-params {
  background-color: rgba(226, 219, 190, 0.61);
  max-width: 55%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-params label {
  display: block;
  width: 60%;
}

.search-params input,
.search-params select {
  margin-bottom: 20px;
  font-size: 18px;
  height: 30px;
  width: 130%;
}

.search-params button,
#modal button,
.details button {
  background-color: #769fb6;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.search-params button:hover {
  background-color: #188fa7;
}

.search-params button:active {
  background-color: #116c7e;
}

.search-params button:focus {
  border: 1px solid black;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}
